*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.bai{
    font-family: 'Bai Jamjuree', sans-serif;
}

.link-button{
    border: 1px solid white;
    max-width: 205px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-style: italic;
    font-weight: 400;
}

.italic{
    font-style: italic;
}

.container{
    margin: 0 auto;
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}

.header-top-bar{
    color: #4D2A88;
    background-color: #FFBE1B;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;

    a{
        color: #4D2A88;
        font-weight: 500;
    }

    .lang-link{
        padding: 0 10px;

        &:first-of-type{
            border-right: 1px solid #4D2A88;
        }
    }
}

.main-header{
    position: relative;
    border-bottom: 1px solid #B7F5FE;
}

.header-bottom-bar{
    background-color: #0F0840;

    .main-logo{
        width: 121px;
    }

    .main-menu-list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        &__item{
            max-width: 122px;
            width: 100%;
            font-size: 14px;
            height: 100%;
            display: flex;
            align-items: center;
            padding:  0 30px;
            transition: ease 0.3s;
            justify-content: center;
            font-family: 'Bai Jamjuree', sans-serif;

            a{
                color: white;
                font-weight: 600;
                text-align: center;
            }

            &.active{
                background-image: linear-gradient(270deg, #31167E 0%, #0F0840 100%);
                border-left: 1px solid #27126C;
                border-right: 1px solid #27126C;
                border-image: linear-gradient(180deg,#27126C, #B7F5FE) 1;
                transform: skewX(-15deg);

                a{
                    color: #B7F5FE;
                    font-weight: 600;
                    transform: skewX(15deg);
                }
            }

            &:hover{
                background-image: linear-gradient(270deg, #31167E 0%, #0F0840 100%);
                border-left: 1px solid #27126C;
                border-right: 1px solid #27126C;
                border-image: linear-gradient(180deg,#27126C, #B7F5FE) 1;
                transform: skewX(-15deg);
                transition: ease 0.3s;

                a{
                    color: #B7F5FE;
                    font-weight: 600;
                    transform: skewX(15deg);
                }
            }
        }
    }

    .dropdown-menu-icon{
        width: 10px;
        height: 10px;

        img{
            width: 100%;
        }
    }
}


/* Hero Section */

.hero-section{
    background-color: #190F5E;
    padding: 0;
}
.hero-section-first{
    min-height: 70vh;
    background-image: url(../img/hero-bg.png);
    padding: 0;
    background-size: cover;
    position: relative;
    background-position: bottom;

    .carousel-container{
        margin-top: 64px;
        position: relative;
    }

    .carousel-control-prev, .carousel-control-next{
        color: white;
    }

    .carousel-control-prev{
        left: -10%;
    }

    .carousel-control-next{
        right: -10%;
    }

    .encoding{
        max-width: 384px;

        img{
            width: 100%;
        }
    }

    .discovery-img{
        max-width: 622px;
        width: 100%;
        position: absolute;
        left: -10%;
        top: -5%;
    }

    .taitiko-img{
        max-width: 405px;
        width: 100%;
        position: absolute;
        right: -10%;
        bottom: -25%;
    }
}

.hero-section-second{
    padding-bottom: 80px;
    .hero-text{
        .subheading{
            color: #B7F5FE;
            font-weight: 600;
            font-size: 32px;
        }

        h2{
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-style: italic;
            font-size: 60px;
            color: white;
            margin-bottom: 0;
        }

        .link-button{
            margin-top: 30px;
            margin-left: auto;
        }
    }

    .stats-item{
        height: 100%;
        h2{
            color: #FFBE1B;
            font-size: 48px;
            font-weight: bold;
            font-style: italic;
        }

        p{
            font-weight: bold;
            font-style: italic;
            font-size: 15px;
            color: white;
            text-align: right;
        }
    }
}

.hero-section-divider{
    display: flex;
    width: 100%;
    min-height: 284px;
    background-image: url(../img/white-divider.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Capsules Section */

.capsules-section{
    background-color: #F0F0F0;
    padding: 50px 0 0;

    .capsules-l{
        display: flex;
        flex-direction: column;
        max-width: 556px;
        width: 100%;
        background-image: url(../img/plus.svg);
        min-height: 557px;
        background-size: cover;
        position: relative;

        h2{
            color: #583AFF;
            font-size: 314px;
            font-family: 'Anton', sans-serif;
            letter-spacing: 2.24px;
            line-height: 314px;
            margin-bottom: 0;
        }

        h3{
            font-family: 'Anton', sans-serif;
            font-size: 74px;
            margin: 0;
            -webkit-text-stroke: #583AFF;
            -webkit-text-stroke-width: 1px;
            color: #F0F0F0;
            margin-top: -20px;
        }

        p{
            font-family: 'Inter', sans-serif;
            color: #583AFF;
            font-size: 14px;
            line-height: 22px;
            max-width: 392px;
            width: 100%;
        }

        .dots-bg{
            position: absolute;
            left: -135px;
        }
    }

    .capsules-r{
        width: 100%;

        .capsules-img{
            background-image: url(../img/capsules-right-bg.png);
            background-size: cover;

            img{
                width: 100%;
            }
        }

        .link-button{
            color: #583AFF;
            border-color: #583AFF;
            margin-left: 150px;
            margin-top: 20px;

            @media screen and (max-width: 1000px){
                margin-left: 0;
            }
        }
    }

    .section-divider{
        width: 100%;
        min-height: 284px;
        display: flex;
        background-image: url(../img/purple-divider.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}


/* Pre-footer section */

.pre-footer{
    background-color: #190F5E;
    width: 100%;
    min-height: 270px;
}

/* Footer section */

.main-footer{
    background-color: #0e0824;
    padding-top: 50px;
    padding-bottom: 100px;

    .main-footer-container{
        .footer-right{

            .footer-menu{
                a{
                    font-size: 12px;
                    color: white;
                    margin-bottom: 20px;
                    font-weight: 500;

                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }

            .footer-social{
                color: #FFBE1B;
                font-size: 14px;
                font-style: italic;
                text-align: center;

                .social-icons{
                    .footer-social-icon{
                        margin-right: 10px;

                    
                    }
                }
            }

            .footer-right-upper{
                padding-bottom: 56px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.47);
            }

            .footer-right-lower{
                padding-top: 50px;

                .footer-info{
                    color: white;
                    font-weight: 500;
                    font-size: 12px;
                    margin-bottom: 10px;

                    a{
                        color: #B7F5FE;
                        padding: 0 10px;
                        color: #B7F5FE;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/* Header - New version */

.user-info{
    height: 100%;
}
.active-wallet{
    height: 100%;
    margin-right: 20px;
    color: #B7F5FE;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    padding: 0 20px;
    background-image: linear-gradient(270deg, #31167E 0%, #0F0840 100%);
    border-left: 1px solid #27126C;
    border-right: 1px solid #27126C;
    -o-border-image: linear-gradient(180deg, #27126C, #B7F5FE) 1;
    border-image: linear-gradient(180deg, #27126C, #B7F5FE) 1;
    transform: skewX(-15deg);
    transition: ease 0.3s;

    .metamask-logo, .active-wallet-coins{
        transform: skew(10deg);
    }
}

/* Marketplace */

.marketplace-page{
    background-color: #190F5E;

    .main-header{
        z-index: -1;
    }

    footer{
        margin-top: 200px;
    }
}

.marketplace-shape{
    position: absolute;
    left: 0;
    top: 66px;
    width: 100%;
}

.marketplace-phrase{
    width: 100%;
    position: absolute;
    top: 66px;
    left: 30%;
    max-width: 527px;
}

.marketplace-header{
    padding-top: 66px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.41);
    z-index: 10;

    .market-r{
        color: white;

        .qtity-label{
            font-family: 'Inter', sans-serif;
            font-size: 12px;
            
        }
        
        .qtity-selector{
            margin-left: 20px;
            padding: 5px 10px;
            border-radius: 13px;
            min-width: 45px;
            text-align: center;


            &.active{
                background-color: #B7F5FE;
                color: #190F5E;
            }
        }

        .filter-by{
            margin-left: 29px;
            border: 1px solid #B7F5FE;
            min-height: 32px;
            max-width: 127px;
            width: 100%;
            padding: 0 5px;
        }
        span{
            font-weight: 500;
            color: white;
        }
    }
}

.market-l{
    max-width: 261px;
    width: 100%;

    .advance-filter-switch{
        border: 1px solid #B7F5FE;
        height: 32px;
        color: white;
        font-size: 14px;
        width: 100%;
        padding: 0 5px;
        cursor: pointer;


        span{
            color: #B7F5FE;
        }
    }

    .applied-filters{
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.41);
        color: white;
        padding-bottom: 20px;

        a{
            color: #B7F5FE;
            font-family: 'Inter';
            font-weight: 500;
        }
    }
}

.market-r{
    max-width: calc(100% - 261px);
    width: 100%;
    margin-left: 20px;
}

.marketplace-body{

    .market-characters{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        row-gap: 100px;
        padding-top: 90px;
    }

    .market-l{
        padding-top: 45px;
    }
}

.taitiko-c{

    max-height: 325px;
    height: 100%;


    .character-img{
        margin-top: -40px;
        height: 347px;
    }

    .character-price{
        background-color: #342678;
        padding: 15px 10px;

        .price-label{
            font-style: italic;
            font-size: 15px;
            font-weight: 500;
            color: white;
        }

        .money-detail{
            img{
                width: 26px;
                margin-right: 8px;
            }

            .current-price{
                color: #FFBE1B;
                font-size: 24px;
                margin: 0 5px 0 0;
            }

            .currency{
                font-size: 14px;
                color: #FFBE1B;
                margin: 0;
                font-weight: 500;
            
            }
        }
    }

    .character-bg{
        border-radius: 30px 8px 0 0;
        position: relative;
        background-size: cover;

        .character-name{
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 15px 10px;
            
            h2{
                margin: 0;
            }

            .character-details{
                color: white;

                .character-type{
                    font-size: 15px;
                    text-transform: uppercase;
                }

                .character-health{
                    img{
                        width: 16px;
                        margin-right: 5px;
                    }

                    .character-health-amount{
                        width: 15px;
                        color: white;
                        
                    }
                }
            }
        }
    }


    &.rare{
        .character-bg{
            background-image: url(../img/rare-bg.svg);
            background-size: cover;

            .character-name{
                background-image: linear-gradient(180deg, rgba(48, 34, 217, 0.69) 0%, #0081F2 100%);

                h2{
                    color: #C5F8FF;
                    margin: 0;
                }
                
            }
        }
    }

    &.legendary{
        .character-bg{
            background-image: url(../img/legendary-bg.svg);

            .character-name{
                background-image: linear-gradient(180deg, rgba(161, 105, 21, 0.69) 0%, #E8B71C 100%);

                h2{
                    color: #C5F8FF;
                }
            }

        }
    }

    &.common{
        .character-bg{
            background-image: url(../img/common-bg.svg);

            .character-name{
                background-image: linear-gradient(180deg, rgba(5, 141, 7, 0.69) 0%, #2DF096 100%);

                h2{
                    color: #C5F8FF;
                }
            }

        }
    }

    &.common-2{
        .character-bg{
            background-image: url(../img/common-2-bg.svg);

            .character-name{
                background-image: linear-gradient(180deg, rgba(59, 30, 199, 0.77) 0%, #5740C8 100%);

                h2{
                    color: #C5F8FF;
                }
            }

        }
    }

    &.epic{
        .character-bg{
            background-image: url(../img/epic-bg.svg);

            .character-name{
                background-image: linear-gradient(180deg, rgba(196, 34, 217, 0.69) 0%, #AF20FF 100%);

                h2{
                    color: #C5F8FF;
                }
            }

        }
    }

    
}




/* Range Input */
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --gradient-color: linear-gradient(95deg,
                    hsl(286, 97%, 57%) -7%,
                    hsl(256, 84%, 48%) 112%);
    --first-color-light: hsl(256, 64%, 88%);
    --first-color-lighten: hsl(256, 58%, 94%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(256, 100%, 98%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --h1-font-size: 1.5rem;
  }
  
.marketplace-body{
    .range {
        height: 64px;
        width: 100%;
        display: grid;
      }
      
      .range__content {
        position: relative;
        width: 100%;
        display: grid;
        place-items: center;
      }
      
      .range__slider {
        width: 100%;
        height: 6px;
        background-color: var(--first-color-lighten);
        border-radius: 4rem;
        box-shadow: 0 4px 12px hsla(256, 72%, 24%, .2);
        overflow: hidden;
      }
      
      .range__slider-line {
        width: 100%;
        height: 100%;
        background: #B7F5FE;
        width: 0;
      }
      
      .range__thumb {
        width: 32px;
        height: 32px;
        background-color: var(--first-color-lighten);
        border-radius: 50%;
        box-shadow: 0 0 12px hsla(256, 72%, 24%, .2);
        position: absolute;
      }
      
      /* Value input range */
      .range__value {
        width: 60px;
        background: white;
        position: absolute;
        top: -33px;
        left: -30px;
        display: grid;
        place-items: center;
      }
      
      .range__value-number {
        color: #4739AC;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
      
      /* Default input range */
      .range__input {
        appearance: none;
        width: 100%;
        height: 16px;
        position: absolute;
        opacity: 0;
      }
      
      .range__input::-webkit-slider-thumb {
        appearance: none;
        width: 32px;
        height: 32px;
      }
      
      .range__input::-webkit-slider-thumb:hover {
        cursor: pointer;
      }
}
