* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.bai {
  font-family: "Bai Jamjuree", sans-serif;
}

.link-button {
  border: 1px solid white;
  max-width: 205px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-style: italic;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.container {
  margin: 0 auto;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.header-top-bar {
  color: #4D2A88;
  background-color: #FFBE1B;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}
.header-top-bar a {
  color: #4D2A88;
  font-weight: 500;
}
.header-top-bar .lang-link {
  padding: 0 10px;
}
.header-top-bar .lang-link:first-of-type {
  border-right: 1px solid #4D2A88;
}

.main-header {
  position: relative;
  border-bottom: 1px solid #B7F5FE;
}

.header-bottom-bar {
  background-color: #0F0840;
}
.header-bottom-bar .main-logo {
  width: 121px;
}
.header-bottom-bar .main-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-bottom-bar .main-menu-list__item {
  max-width: 122px;
  width: 100%;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  transition: ease 0.3s;
  justify-content: center;
  font-family: "Bai Jamjuree", sans-serif;
}
.header-bottom-bar .main-menu-list__item a {
  color: white;
  font-weight: 600;
  text-align: center;
}
.header-bottom-bar .main-menu-list__item.active {
  background-image: linear-gradient(270deg, #31167E 0%, #0F0840 100%);
  border-left: 1px solid #27126C;
  border-right: 1px solid #27126C;
  -o-border-image: linear-gradient(180deg, #27126C, #B7F5FE) 1;
     border-image: linear-gradient(180deg, #27126C, #B7F5FE) 1;
  transform: skewX(-15deg);
}
.header-bottom-bar .main-menu-list__item.active a {
  color: #B7F5FE;
  font-weight: 600;
  transform: skewX(15deg);
}
.header-bottom-bar .main-menu-list__item:hover {
  background-image: linear-gradient(270deg, #31167E 0%, #0F0840 100%);
  border-left: 1px solid #27126C;
  border-right: 1px solid #27126C;
  -o-border-image: linear-gradient(180deg, #27126C, #B7F5FE) 1;
     border-image: linear-gradient(180deg, #27126C, #B7F5FE) 1;
  transform: skewX(-15deg);
  transition: ease 0.3s;
}
.header-bottom-bar .main-menu-list__item:hover a {
  color: #B7F5FE;
  font-weight: 600;
  transform: skewX(15deg);
}
.header-bottom-bar .dropdown-menu-icon {
  width: 10px;
  height: 10px;
}
.header-bottom-bar .dropdown-menu-icon img {
  width: 100%;
}

/* Hero Section */
.hero-section {
  background-color: #190F5E;
  padding: 0;
}

.hero-section-first {
  min-height: 70vh;
  background-image: url(../img/hero-bg.png);
  padding: 0;
  background-size: cover;
  position: relative;
  background-position: bottom;
}
.hero-section-first .carousel-container {
  margin-top: 64px;
  position: relative;
}
.hero-section-first .carousel-control-prev, .hero-section-first .carousel-control-next {
  color: white;
}
.hero-section-first .carousel-control-prev {
  left: -10%;
}
.hero-section-first .carousel-control-next {
  right: -10%;
}
.hero-section-first .encoding {
  max-width: 384px;
}
.hero-section-first .encoding img {
  width: 100%;
}
.hero-section-first .discovery-img {
  max-width: 622px;
  width: 100%;
  position: absolute;
  left: -10%;
  top: -5%;
}
.hero-section-first .taitiko-img {
  max-width: 405px;
  width: 100%;
  position: absolute;
  right: -10%;
  bottom: -25%;
}

.hero-section-second {
  padding-bottom: 80px;
}
.hero-section-second .hero-text .subheading {
  color: #B7F5FE;
  font-weight: 600;
  font-size: 32px;
}
.hero-section-second .hero-text h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 60px;
  color: white;
  margin-bottom: 0;
}
.hero-section-second .hero-text .link-button {
  margin-top: 30px;
  margin-left: auto;
}
.hero-section-second .stats-item {
  height: 100%;
}
.hero-section-second .stats-item h2 {
  color: #FFBE1B;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
}
.hero-section-second .stats-item p {
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  color: white;
  text-align: right;
}

.hero-section-divider {
  display: flex;
  width: 100%;
  min-height: 284px;
  background-image: url(../img/white-divider.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Capsules Section */
.capsules-section {
  background-color: #F0F0F0;
  padding: 50px 0 0;
}
.capsules-section .capsules-l {
  display: flex;
  flex-direction: column;
  max-width: 556px;
  width: 100%;
  background-image: url(../img/plus.svg);
  min-height: 557px;
  background-size: cover;
  position: relative;
}
.capsules-section .capsules-l h2 {
  color: #583AFF;
  font-size: 314px;
  font-family: "Anton", sans-serif;
  letter-spacing: 2.24px;
  line-height: 314px;
  margin-bottom: 0;
}
.capsules-section .capsules-l h3 {
  font-family: "Anton", sans-serif;
  font-size: 74px;
  margin: 0;
  -webkit-text-stroke: #583AFF;
  -webkit-text-stroke-width: 1px;
  color: #F0F0F0;
  margin-top: -20px;
}
.capsules-section .capsules-l p {
  font-family: "Inter", sans-serif;
  color: #583AFF;
  font-size: 14px;
  line-height: 22px;
  max-width: 392px;
  width: 100%;
}
.capsules-section .capsules-l .dots-bg {
  position: absolute;
  left: -135px;
}
.capsules-section .capsules-r {
  width: 100%;
}
.capsules-section .capsules-r .capsules-img {
  background-image: url(../img/capsules-right-bg.png);
  background-size: cover;
}
.capsules-section .capsules-r .capsules-img img {
  width: 100%;
}
.capsules-section .capsules-r .link-button {
  color: #583AFF;
  border-color: #583AFF;
  margin-left: 150px;
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .capsules-section .capsules-r .link-button {
    margin-left: 0;
  }
}
.capsules-section .section-divider {
  width: 100%;
  min-height: 284px;
  display: flex;
  background-image: url(../img/purple-divider.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Pre-footer section */
.pre-footer {
  background-color: #190F5E;
  width: 100%;
  min-height: 270px;
}

/* Footer section */
.main-footer {
  background-color: #0e0824;
  padding-top: 50px;
  padding-bottom: 100px;
}
.main-footer .main-footer-container .footer-right .footer-menu a {
  font-size: 12px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
}
.main-footer .main-footer-container .footer-right .footer-menu a:last-of-type {
  margin-bottom: 0;
}
.main-footer .main-footer-container .footer-right .footer-social {
  color: #FFBE1B;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}
.main-footer .main-footer-container .footer-right .footer-social .social-icons .footer-social-icon {
  margin-right: 10px;
}
.main-footer .main-footer-container .footer-right .footer-right-upper {
  padding-bottom: 56px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.47);
}
.main-footer .main-footer-container .footer-right .footer-right-lower {
  padding-top: 50px;
}
.main-footer .main-footer-container .footer-right .footer-right-lower .footer-info {
  color: white;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
}
.main-footer .main-footer-container .footer-right .footer-right-lower .footer-info a {
  color: #B7F5FE;
  padding: 0 10px;
  color: #B7F5FE;
  text-decoration: underline;
}

/* Header - New version */
.user-info {
  height: 100%;
}

.active-wallet {
  height: 100%;
  margin-right: 20px;
  color: #B7F5FE;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  padding: 0 20px;
  background-image: linear-gradient(270deg, #31167E 0%, #0F0840 100%);
  border-left: 1px solid #27126C;
  border-right: 1px solid #27126C;
  -o-border-image: linear-gradient(180deg, #27126C, #B7F5FE) 1;
  border-image: linear-gradient(180deg, #27126C, #B7F5FE) 1;
  transform: skewX(-15deg);
  transition: ease 0.3s;
}
.active-wallet .metamask-logo, .active-wallet .active-wallet-coins {
  transform: skew(10deg);
}

/* Marketplace */
.marketplace-page {
  background-color: #190F5E;
}
.marketplace-page .main-header {
  z-index: -1;
}
.marketplace-page footer {
  margin-top: 200px;
}

.marketplace-shape {
  position: absolute;
  left: 0;
  top: 66px;
  width: 100%;
}

.marketplace-phrase {
  width: 100%;
  position: absolute;
  top: 66px;
  left: 30%;
  max-width: 527px;
}

.marketplace-header {
  padding-top: 66px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  z-index: 10;
}
.marketplace-header .market-r {
  color: white;
}
.marketplace-header .market-r .qtity-label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
}
.marketplace-header .market-r .qtity-selector {
  margin-left: 20px;
  padding: 5px 10px;
  border-radius: 13px;
  min-width: 45px;
  text-align: center;
}
.marketplace-header .market-r .qtity-selector.active {
  background-color: #B7F5FE;
  color: #190F5E;
}
.marketplace-header .market-r .filter-by {
  margin-left: 29px;
  border: 1px solid #B7F5FE;
  min-height: 32px;
  max-width: 127px;
  width: 100%;
  padding: 0 5px;
}
.marketplace-header .market-r span {
  font-weight: 500;
  color: white;
}

.market-l {
  max-width: 261px;
  width: 100%;
}
.market-l .advance-filter-switch {
  border: 1px solid #B7F5FE;
  height: 32px;
  color: white;
  font-size: 14px;
  width: 100%;
  padding: 0 5px;
  cursor: pointer;
}
.market-l .advance-filter-switch span {
  color: #B7F5FE;
}
.market-l .applied-filters {
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  color: white;
  padding-bottom: 20px;
}
.market-l .applied-filters a {
  color: #B7F5FE;
  font-family: "Inter";
  font-weight: 500;
}

.market-r {
  max-width: calc(100% - 261px);
  width: 100%;
  margin-left: 20px;
}

.marketplace-body .market-characters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  row-gap: 100px;
  padding-top: 90px;
}
.marketplace-body .market-l {
  padding-top: 45px;
}

.taitiko-c {
  max-height: 325px;
  height: 100%;
}
.taitiko-c .character-img {
  margin-top: -40px;
  height: 347px;
}
.taitiko-c .character-price {
  background-color: #342678;
  padding: 15px 10px;
}
.taitiko-c .character-price .price-label {
  font-style: italic;
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.taitiko-c .character-price .money-detail img {
  width: 26px;
  margin-right: 8px;
}
.taitiko-c .character-price .money-detail .current-price {
  color: #FFBE1B;
  font-size: 24px;
  margin: 0 5px 0 0;
}
.taitiko-c .character-price .money-detail .currency {
  font-size: 14px;
  color: #FFBE1B;
  margin: 0;
  font-weight: 500;
}
.taitiko-c .character-bg {
  border-radius: 30px 8px 0 0;
  position: relative;
  background-size: cover;
}
.taitiko-c .character-bg .character-name {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 10px;
}
.taitiko-c .character-bg .character-name h2 {
  margin: 0;
}
.taitiko-c .character-bg .character-name .character-details {
  color: white;
}
.taitiko-c .character-bg .character-name .character-details .character-type {
  font-size: 15px;
  text-transform: uppercase;
}
.taitiko-c .character-bg .character-name .character-details .character-health img {
  width: 16px;
  margin-right: 5px;
}
.taitiko-c .character-bg .character-name .character-details .character-health .character-health-amount {
  width: 15px;
  color: white;
}
.taitiko-c.rare .character-bg {
  background-image: url(../img/rare-bg.svg);
  background-size: cover;
}
.taitiko-c.rare .character-bg .character-name {
  background-image: linear-gradient(180deg, rgba(48, 34, 217, 0.69) 0%, #0081F2 100%);
}
.taitiko-c.rare .character-bg .character-name h2 {
  color: #C5F8FF;
  margin: 0;
}
.taitiko-c.legendary .character-bg {
  background-image: url(../img/legendary-bg.svg);
}
.taitiko-c.legendary .character-bg .character-name {
  background-image: linear-gradient(180deg, rgba(161, 105, 21, 0.69) 0%, #E8B71C 100%);
}
.taitiko-c.legendary .character-bg .character-name h2 {
  color: #C5F8FF;
}
.taitiko-c.common .character-bg {
  background-image: url(../img/common-bg.svg);
}
.taitiko-c.common .character-bg .character-name {
  background-image: linear-gradient(180deg, rgba(5, 141, 7, 0.69) 0%, #2DF096 100%);
}
.taitiko-c.common .character-bg .character-name h2 {
  color: #C5F8FF;
}
.taitiko-c.common-2 .character-bg {
  background-image: url(../img/common-2-bg.svg);
}
.taitiko-c.common-2 .character-bg .character-name {
  background-image: linear-gradient(180deg, rgba(59, 30, 199, 0.77) 0%, #5740C8 100%);
}
.taitiko-c.common-2 .character-bg .character-name h2 {
  color: #C5F8FF;
}
.taitiko-c.epic .character-bg {
  background-image: url(../img/epic-bg.svg);
}
.taitiko-c.epic .character-bg .character-name {
  background-image: linear-gradient(180deg, rgba(196, 34, 217, 0.69) 0%, #AF20FF 100%);
}
.taitiko-c.epic .character-bg .character-name h2 {
  color: #C5F8FF;
}

/* Range Input */
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --gradient-color: linear-gradient(95deg,
                  hsl(286, 97%, 57%) -7%,
                  hsl(256, 84%, 48%) 112%);
  --first-color-light: hsl(256, 64%, 88%);
  --first-color-lighten: hsl(256, 58%, 94%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(256, 100%, 98%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 1.5rem;
}

.marketplace-body {
  /* Value input range */
  /* Default input range */
}
.marketplace-body .range {
  height: 64px;
  width: 100%;
  display: grid;
}
.marketplace-body .range__content {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}
.marketplace-body .range__slider {
  width: 100%;
  height: 6px;
  background-color: var(--first-color-lighten);
  border-radius: 4rem;
  box-shadow: 0 4px 12px hsla(256, 72%, 24%, 0.2);
  overflow: hidden;
}
.marketplace-body .range__slider-line {
  width: 100%;
  height: 100%;
  background: #B7F5FE;
  width: 0;
}
.marketplace-body .range__thumb {
  width: 18px;
  height: 17px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  box-shadow: 0 0 12px hsla(256, 72%, 24%, 0.2);
  position: absolute;
}
.marketplace-body .range__thumb::after {
  content: " ";
  width: 22px;
  height: 21px;
  background-image: url(../img/hearth-selector.svg);
  background-size: cover;
  position: absolute;
}
.marketplace-body .range__value {
  width: 60px;
  background: white;
  position: absolute;
  top: -28px;
  left: -20px;
  display: grid;
  place-items: center;
}
.marketplace-body .range__value .nube {
  width: 10px;
  height: 10px;
  background-color: white;
  position: absolute;
  z-index: -1;
  transform: rotate(45deg);
  bottom: -4px;
}
.marketplace-body .range__value-number {
  color: #4739AC;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.marketplace-body .range__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 16px;
  position: absolute;
  opacity: 0;
}
.marketplace-body .range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 32px;
  height: 32px;
}
.marketplace-body .range__input::-webkit-slider-thumb:hover {
  cursor: pointer;
}

/* Barra rango */
.input-rango {
  width: 200px;
  height: 20px;
}

.rango {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border: 1px solid #000;
}

.barra {
  width: 100%;
  height: 10px;
  background-color: #000;
  position: relative;
}

.etiqueta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 12px;
}

.etiqueta-izquierda {
  left: 0;
}

.etiqueta-derecha {
  right: 0;
}/*# sourceMappingURL=styles.css.map */